@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --nu-blue: #35408E;
    --nu-gold: #FFCC33;
    --nu-light: #FFFFFF;
    --nu-gray: #F8F9FA;
    --nu-success: #0D6EFD;
    --nu-blue-light: #E6E8F5;
    --nu-blue-lighter: #F5F6FB;
    --nu-gold-light: #FFF5D9;
}
